<div class="panel panel-default">
  <div class="panel-heading" role="tab">
    <h4 class="panel-title">
      <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-guardians" aria-expanded="true" aria-controls="collapseOne">
        Responsáveis
      </a>
    </h4>
  </div>
  <div id="collapse-guardians" class="panel-collapse collapse" role="tabpanel" aria-spanledby="headingOne">
    <div class="panel-body">
       <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="table-responsive">
            <table class="table table-bordered table-striped">
              <tr>
                <td class="active">Nome</td>
                <td class="active">Grau de Parentesco</td>
                <td class="active">Telefone</td>
                <td class="active">Celular</td>
              </tr>
            <% guardians.each do |guardian| %>
              <tr>
                <td><%= link_to(guardian.person.name, guardian_path(guardian)) %></td>
                <td><%= guardian.kinship %></td>
                <td><%= guardian.person.phone %></td>
                <td><%= guardian.person.cellphone %></td>
              </tr>
            <% end %>
            </table>
          </div>
        </div>
    </div>
  </div>
</div>