<div class="text-center">
  <h1>Editar Responsável</h1>
</div>
<%= form_for(@guardian, :html=>{:id=>"form-guardian"}) do |guardian_form| %>
<%= render 'form', guardian_form:guardian_form %>
<div class="row">
  <div class="form-group">
    <div class="col-lg-offset-4 col-lg-4 margin-end-top margin-end-bot">
      <%= guardian_form.submit "Salvar alterações", :class => "btn btn-default btn-lg btn-block btn-primary", id: "confirm-guardian" %>
    </div>
  </div>
</div>
<% end %>