<div class="modal fade" id="confirm-delete-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Excluir Aluno</h4>
        </div>
        <div class="modal-body">
          <span> Você tem certeza que deseja excluir o aluno <%= @student.person.name %>? </span>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Voltar</button>
          <%= link_to "Remover Aluno", @student, :method => "delete", class: "btn btn-danger" %>
      </div>
    </div>
  </div>
</div>