<div class="panel panel-default">
  <div class="panel-heading" role="tab" id="headingOne">
    <h4 class="panel-title">
      <a role="button" data-toggle="collapse" href="#collapse-authorizations" aria-expanded="true" aria-controls="collapseOne">
        Autorizações
      </a>
    </h4>
  </div>
  <div id="collapse-authorizations" class="panel-collapse collapse in" role="tabpanel" aria-spanledby="headingOne">
    <div class="panel-body">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="row">
          <% @student.authorizations.each do |authorization| %>
            <div class='div-authorization'>
              <label><%= authorization.description %></label>
              <span><%= check_box_tag('cb_authorization', nil, authorization.authorized,  disabled: true) %></span>
            </div>
          <% end %>
        </div>
    </div>
  </div>
</div>