<table id="students-table" data-source="<%= students_path(format: :json) %>" class="table table-striped table-bordered display responsive no-wrap">
  <thead>
    <tr>
      <th>Nome:</th>
      <th>Gênero:</th>
      <th>Nº Nis:</th>
      <th>Turma:</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>