<table id="table-students" class="table table-striped table-bordered display responsive no-wrap">
  <thead>
    <tr>
      <th>Nome:</th>
      <th>Gênero:</th>
      <th>Nº Nis:</th>
    </tr>
  </thead>
  <tbody>
    <% @search_results_students.each do |student| %>
      <tr>
        <td>
          <a href="students/<%=student.id%>"><%= student.person.name %></a>
        </td>
        <td>
         <%= student.person.genre %>
        </td>
        <td>
          <%= student.nis_number %>
        </td>
    </tr>
    <% end %>
  </tbody>
</table>
