<div class="panel panel-default">
  <div class="panel-heading" role="tab">
    <h4 class="panel-title">
      <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-documents" aria-expanded="true" aria-controls="collapseOne">
        Documentos
      </a>
    </h4>
  </div>
  <div id="collapse-documents" class="panel-collapse collapse" role="tabpanel" aria-spanledby="headingOne">
    <div class="panel-body">
      <div class="row panel-body">
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
          <div class="row">
            <label>CPF: </label>
            <span><%= document.cpf %></span>
          </div>
        </div>
      </div>
      <div class="row panel-body">
        <%= render 'identity_documents/show_identity_document', identity_document: document.identity_document unless document.identity_document.nil? %>
      </div>
      <div class="row panel-body">
        <%= render 'certificates/show_certificate', certificate: document.certificate unless document.certificate.nil? %>
      </div>
    </div>
  </div>
</div>