<% if @school_class.errors.any? %>
  <div id="error_explanation" class="alert alert-danger">
    <ul>
      <% @school_class.errors.messages.each do |msg| %>
        <li><%= msg[1][0] %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= render 'form_school_class', school_class_form:school_class_form %>
<%= render 'form_students_school_class' %>


