<% if @school_class.errors.any? %>
  <div id="error_explanation" class="alert alert-danger">
    <ul>
      <% @school_class.errors.messages.each do |msg| %>
        <li><%= msg[1][0] %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="panel-group row" id="accordion" role="tablist" aria-multiselectable="true">
  <%= render 'form_school_class', school_class_form:school_class_form %>
  <%= render 'teachers/form_teachers', object: @school_class %>
  <%= render 'students/form_students', object: @school_class %>
</div>


