<div class="panel panel-default">
  <div class="panel-heading" role="tab">
    <h4 class="panel-title">
      <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-school_classes" aria-expanded="true" aria-controls="collapseOne">
        Turmas
      </a>
    </h4>
  </div>
  <div id="collapse-school_classes" class="panel-collapse collapse" role="tabpanel" aria-spanledby="headingOne">
    <div class="panel-body">
      <div class="row panel-body">
        <table id="school_classes-table" data-source="<%= path %>" class="table table-striped table-bordered display responsive no-wrap dataTable">
          <thead>
            <tr>
              <th>Nº da Turma:</th>
              <th>Sala:</th>
              <th>Série/Ano:</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>