<div class="panel panel-default">
  <div class="panel-heading" role="tab">
    <h4 class="panel-title">
      <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-teachers" aria-expanded="true" aria-controls="collapseOne">
        Professores
      </a>
    </h4>
  </div>
  <div id="collapse-teachers" class="panel-collapse collapse" role="tabpanel" aria-spanledby="headingOne">
    <div class="panel-body">
      <div class="row panel-body">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="table-responsive">
            <table class="table table-bordered table-striped">
              <tr>
                <td class="active">Nome</td>
                <td class="active">Disciplina</td>
                <td class="active">Matrícula</td>
                <td class="active">Carga Horária</td>
              </tr>
            <% @school_class.teachers.each do |teacher| %>
              <tr>
                <td><%= link_to(teacher.person.name, teacher_path(teacher)) %></td>
                <td><%= teacher.subject %></td>
                <td><%= teacher.registration_number %></td>
                <td><%= teacher.time_load %></td>
              </tr>
            <% end %>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>