<div class="row panel-body">
  <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
    <div class="row">
      <label>Nº da Identidade: </label>
      <span><%= identity_document.identity_number %></span>
    </div>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
    <div class="row">
      <label>Data de Expedição: </label>
      <span><%= identity_document.dispatch_date %></span>
    </div>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
    <div class="row">
      <label>Orgão Expedidor: </label>
      <span><%= identity_document.federation_unit %></span>
    </div>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
    <div class="row">
      <label>UF: </label>
      <span><%= identity_document.dispatcher_organ %></span>
    </div>
  </div>
</div>