html, body, #wrapper {
  padding-top: 17px;
  background-color: #f2f1f9;
}

.header-style {
  font-size: 15px;
  background-color: #334455  !important;
  border-color: rgba(0, 0, 0, 0) !important;
  border-radius: 0px !important;
  z-index: 3;
  a{
    color: #FFF !important;
  }
}
.panel-heading{
  background-color: #334455 !important;
  color: #FFF !important;
}
.logo{
  width: 160px;
}

.inner-addon {
    position: relative;
}

.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }