// Place all the styles related to the students controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.header-style {
  font-size: 15px;
  background-color: #334455  !important;
  border-color: rgba(0, 0, 0, 0) !important;
  border-radius: 0px !important;
  z-index: 3;
  a{
    color: #FFF !important;
  }
}

.div-space-between-elements{
  float:left;
  margin-left:10px;
  margin-right:10px;
}

html, body, #wrapper {
  padding-top: 17px;
}


.logo{
  width: 160px;
}