// Place all the styles related to the students controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.header-style {
  font-size: 15px;
  background-color: #243b52 !important;
  border-color: rgba(0, 0, 0, 0) !important;
  box-shadow: 0px 5px 5px #888888;
  border-radius: 0px !important;
  min-height: 80px !important;
  z-index: 3;
  a{
    color: #FFF !important;
  }
}

.center-nav{
  margin-top: 13px;
}

.menu{
  margin-top: -18px;
  padding-top: 10px;
  z-index: 2;
  border-color: rgba(0, 0, 0, 0) !important;
  box-shadow: 0px 5px 10px #888888;
  height: 600px;
}