<nav class="navbar navbar-default navbar-fixed-top header-style">
  <div class="container-fluid">
    <div class="navbar-header page-scroll">
      <a class="navbar-brand logo" href="/">Home</a>
      <a href="#menu-toggle" class="navbar-brand" id="menu-toggle"><span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"/></a>
    </div>
  </div>
</nav>
