<div id="sidebar-wrapper">
      <ul class="sidebar-nav">
          <li>
              <%= link_to "Alunos", students_path %>
          </li>
          <li>
              <a href="#">Turmas</a>
          </li>
          <li>
              <a href="#">Professores</a>
          </li>
          <li>
              <a href="#">Responsáveis</a>
          </li>
      </ul>
</div>